<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Web Test Suite" thread-count="1" parallel="tests" verbose="1">
    <test name=" Login Test - chrome" parallel="methods" thread-count="1">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="test.automation.LoginTest"></class>
        </classes>
    </test>

</suite>